@media (max-width:1100px){
  .wrapper{
    max-width:700px;
    margin:0 auto;
    padding:0 1%;
  }

  .globalMenuPc li{
padding-left:12px;
  }

  /* <!-- design --> */

  .design-content:nth-child(odd) .design-content-left{
    text-align: center;
  }

  .design-content:nth-child(even) .design-content-left{
    text-align: center;
  }

  .design-content:nth-child(odd){
    flex-direction: column;
  }

  .design-content:nth-child(even){
    flex-direction: column;
  }

  .design-content-left{
    width:100%;

    }
    

  .design-content-left img{
    width:500px;
  }

  .design-content-right{
    width:100%;
    }

  .design-content-right h2{
    text-shadow: 1px 2px 4px  #999; 
  }
 /* <!-- archtect --> */

 .archtect h1{
  padding-top:65px;
 }

 .profile .name{
   font-size:1.1rem;
 }

 .profile .texl{
  font-size:1rem;
 }

 .profile .texs{
  font-size:0.93rem;
 }

 .design-concept{
  padding:1em;
 }


   /* <!-- access --> */
   .access{
    padding-top:60px;
   }

.access h1{
  padding-bottom:25px;
}

.access .map{
  flex-direction: column;
display: block;
text-align: center;
}

.access img{
  width:600px;
  padding:20px 20px 70px 20px;
}

.access h2{
  bottom:20%;
}

.shirokane-style{
padding:1em;
}

.access a{
  padding-top:90px;
}
}


@media (max-width:600px){
  .wrapper{
    max-width:100%;
    margin:0 auto;
    /* padding:0 1%; */
  }

.globalMenuPc{
display:none;
}

  .sp-link{
   display : block;
  }

  .top-wrapper .top-background{
    height:55vh;
  }

  .top-wrapper .top-wrapper-logo{
    margin-top:25vh;
    width:70%;
  }
 
  .concept{
    /* height:60vh; */
    padding-top:80px;
  }

  .spec{
    margin-top:60px;
  }

  .design{
    margin-top:50px;
  }


  .design-content-left img{
    width:100%;
  }

  .design-content-right h2{
    display: block;
    text-align: center;
    border-bottom:none;
    text-decoration:underline;
    padding-top:0px;
  }

  .design-content-right p{
    padding-top:15px;
    margin:2%;
  }

  .archtect{
    margin-top:0px;
  }

  .archtect h1{
    padding-top:85px;
   }
  
  .profiles{
 flex-direction: column;
padding:10px 0 0px;
  }

  .profile{
    width:100%;
    padding:5%;
    text-align: center;
  }

  .profile .texl{
    padding-top:15px;

  }

  .design-concept .box-title {
    width:52%;
  }

  /* .design-concept p{
    padding-right:22px;
    padding-left:25px; 
  } */

  .access{
    padding-top:50px;
   }

    .access img{
      width:100%;
    }


    .access .box-title{
      width:65%;
     }
  
    /* .shirokane-style p{
      padding-right:22px;
      padding-left:25px; 
    } */
  


}
