body{
  font-family :"Roboto", "Noto Sans JP", sans-serif;
  color: #595757;
  font-size:100%;
  line-height: 32px;
}

.wrapper{
max-width:1025px;
margin:0 auto;
}

header{
  height:53px;
  width: 100%;
  position: fixed;
  top:0;
  z-index:10;
  background: #fff;

}

.globalMenuPc {
  float:right;
}

.globalMenuPc li{
display:block;
float: left;
padding-left:30px;

}
.globalMenuPc a{
display:block;
color: #595757;
line-height: 1.0;
padding:15px 8px 10px;
margin-top:8px;
text-decoration: none;
text-align: center;
}

.globalMenuPc a:hover{
  opacity:0.5;
}

.globalMenuPc .link{
  background: #111;
  color:#fff;
  padding:13px 8px 10px;
  font-size:0.9rem;
}

.link2{
  background: #111;
  color:#fff;
  padding:13px 8px 10px;
  font-size:0.9rem;
  text-decoration: none;
 
}

.sp-link{
  padding-top:12px;
  padding-left:10px;
  display:none;
}
.fa-chevron-circle-right{
  padding-left:7px;
}

button{
	position:absolute;
	top:1px;
	right:10px;
	background-color:transparent;
	border:none;
	cursor:pointer;
}

button:focus{
	outline:none;
}

.globalMenuSp{
	display:none;
	list-style-type:none;
}

.globalMenuSp li a{
	text-decoration:none;
	font-weight:bold;
	display:block;
	padding:17px 25px;
	color:#FFF;
  background: rgba(0,0,0,0.7);
	/* border-bottom:1px solid #A24861; */
}

li:last-child a{
	border-bottom:none;
}

/* main{
	display:block;
	padding:40px 20px 20px;
	color:#333;
} */

/* p{
	margin-bottom:50px;
	line-height:2em;
} */


  /* <!-- top-wrapper --> */
.top-wrapper .top-background{
background-image:url(../img/face.jpg);
background-size: cover;
background-position: center;
height:80vh;
text-align: center;
margin-top:55px;
}

.top-wrapper .top-wrapper-logo{
  width: 350px;
  margin-top:40vh;
}
/* <!-- concept --> */
.concept{
text-align: center;
background-color:#E4E1D8;
/* height:55vh; */
line-height:32px;
padding-top:60px;
padding-bottom:60px;
margin-top:80px;
}

.concept-text{
padding-top:20px;
}

h1{
  font-size:1.7rem;
  /* text-decoration: underline; */
  text-align: center;
  text-shadow: 1px 2px 4px  #DAD5CF; 
  /* font-family: 'Amiri'; */
  font-family: 'Lora', serif;
  color:#555;
  letter-spacing:1.8px;
  font-weight: lighter;
  
}

.concept-text p{
 padding-top:20px;
}

/* <!-- spec --> */
.spec{
  margin-top:120px;
}

.spec h1{
padding-top:30px;
padding-bottom:35px;
}
.spac-table{
  border-top: 1px solid #ecefef;
}

.spac-table-tr{
  display:flex;
  border-bottom: 1px solid #ecefef;
}

.spac-table-th{
border-right: 1px solid #ecefef;
border-left: 1px solid #ecefef;
background-color: #f6f8f8;
width:30%;
padding:30px 20px;
}

.spac-table-td{
border-right: 1px solid #ecefef;
width:70%;
padding:30px 20px;
}

/* <!-- design --> */
.design{
  /* height:880px; */
  margin-top:100px;
}

.design h1{
  padding-top:50px;
  padding-bottom:30px;
  }

.design-contents{
padding:1%;
}

.design-content{
  padding-bottom:60px;
}

.design-content:nth-child(odd){
  display:flex;
}

.design-content:nth-child(even){
  display:flex;
  flex-direction:row-reverse;
}

.design-content:nth-child(odd) .design-content-left{
  text-align: left;
}

.design-content:nth-child(even) .design-content-left{
  text-align: right;
}

.design-content-left{
width:35%;
}

.design-content-left img{
  width:300px;
  
}

.design-content-right{
  width:65%;
  }

.design-content-right h2{
  font-size:1.2rem;
  font-style: italic;
  padding-top:15px;
  border-bottom:1px solid #595757;
  display: inline-block;
 }

 .design-content-right span{
  font-size:0.8rem;
  padding-left:5px;
 }

 .design-content-right p{
   padding-top:10px;
 }

 /* <!-- archtect --> */
 .archtect{
   margin-top:70px;
   background: #EFEFEF;
   padding-bottom:50px;
 }

 .archtect h1{
  padding-top:120px;
   padding-bottom:30px;
 }

 .archtect img{
   width:100%;
   display:block;
 }

 .unit h2{
  font-size:1.2rem;
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  text-align: center;
  margin-top:10px;
  margin-bottom:10px;
  /* padding:1px 0; */
  font-weight:normal;
  /* color:#fff; */
  /* background-color:#111; */
  font-style: italic;
 }

 .unit p{
  font-size:0.95rem;
  line-height: 20px;
  padding:20px 30px;
 }

 .profiles{
   display:flex;
   padding:10px 0;
 }

 .profile{
   width:50%;
   padding:5%;
 }

 .profile .name{
font-style: italic;
text-shadow: 1px 2px 4px  #DAD5CF; 
padding-bottom:8px;
 }

 .profile .texl{
   font-size:0.9rem;
   /* padding-left:50%; */
 }
  .profile .texs{
    font-size:0.85rem;
    padding-left:13px;
    padding-bottom:10px;
    line-height: 25px;
  }
  

  /* .design-concept{
 font-size:0.95rem;
  padding-top:20px;
  border:1px solid #999;
  margin:2% 2%;
  position: relative;
  } */

  .design-concept {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border:1px solid #999;
  
}
.design-concept .box-title {
    position: absolute;
    display: inline-block;
    font-size:1.2rem;
    font-style: italic;
    top: -13px;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background:#EFEFEF;
    text-shadow: 1px 2px 4px  #DAD5CF;
    font-weight: bold;
}

.design-concept p {
    margin: 0; 
    padding: 0;
}





  
/* .archtect h3{
  font-size:1.2rem;
  font-style: italic;
  text-shadow: 1px 2px 4px  #DAD5CF; 
  text-align: center;
  letter-spacing:1.5px;
  position: absolute;
  top:60px;
  left:550px;

  transform: translate(-50%, -50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background: #EFEFEF;
  } */
  


  /* .design-concept p{
    padding-bottom:20px;
    padding-right:60px;
    padding-left:60px; 
  } */

   /* <!-- access --> */
  .access{
    padding-top:90px;
  }

  .access h1{
  padding-top:50px;
  padding-bottom:20px;
  }
    

  .access .map{
    display:flex;
    justify-content: space-evenly;
    /* padding:1% 8%; */
  }

  .access img{
    width:45%;
    padding:20px 20px 100px 20px;
  }

  .access .box-title{
    position: absolute;
    display:inline-block;
    font-size:1.2rem;
    font-style: italic;
    top: -13px;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background:#FFF;
    text-shadow: 1px 2px 4px  #DAD5CF;
    font-weight: bold;
  }

  .shirokane-style{
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border:1px solid #999;
  }

  .shirokane-style p{
    font-size:0.95rem;
    margin: 0; 
    padding: 0;
  }

  .access a{
    text-align: center;
    display:block;
    padding-top:120px;
    padding-bottom:80px;
  }

  footer{
    height:45px;
    text-align: center;
    background: #505354;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
  }

  footer p{ 
    padding-top:15px;
    line-height: 15px;
    font-size:0.7rem;
  }

